@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
a{
    text-decoration: none;
}

#body_div{
    /* background-color: rgb(249, 136, 136); */
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif !important;
}
section{
    margin-bottom: 20px;
}
hr{
    margin-bottom: 50px;
    width: 95%;
    border: 0.5px solid rgb(230, 230, 230);
}
#space{
    display: flex;
}
.figure{
    width: 30%;
    margin: 0 20px;
    padding: 30px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
}
.figure p{
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0px;
    
    background-color: rgb(252, 252, 189);
    transform: translateY(10px);
}
#space .figure:nth-of-type(1) div{background-image: url('https://dta.pccu.edu.tw/var/file/229/1229/img/712/114617089.jpg');}
#space .figure:nth-of-type(2) div{background-image: url('https://dta.pccu.edu.tw/var/file/229/1229/img/712/809809915.jpg');}
#space .figure:nth-of-type(3) div{background-image: url('https://dta.pccu.edu.tw/var/file/229/1229/img/712/969679544.jpg');}
.figure_img{
    width: 100%;
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* cell phone devices */
@media screen and (max-width: 576px) {
    #space{
        flex-direction: column;        
    }
    .figure{
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width:767px) {

    #space{
        flex-direction: column;        
    }
    .figure{
        width: 350px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width:1160px) {
    #space{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .figure{
        margin: 0 10px;
    }
    .figure{
        width: 36%;
        margin: 0 auto;
        margin-bottom: 23px;
    }
    .figure:nth-child(3){
        margin-right: calc(54.4%);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1170px) {

    
}