body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
}
.circle-container {
    position: relative;
    width: 270px;
    height: 270px;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:all 0.3s ease;    
}
.circle-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    transition:all 0.3s ease;
    z-index: -1;
}
.circle-container::before{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0000005f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.circle-container:hover {
    transform: scale(1.05);
    opacity: 0.7;
    cursor: pointer;
}
.circle-container .title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

@media screen and (min-width: 576px) and (max-width:767px) {
    .circle-container {
        width: 220px;
        height: 220px;
    }
    .circle-container .title {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 576px) {
    .container-box {
        flex-direction: column;
        align-items: center;
    }
    .circle-container {
        width: 200px;
        height: 200px;
        margin: 30px;
    }
    .circle-container .title {
        font-size: 1em;
    }
}