@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
a{
    text-decoration: none;
}

#body_div{
    /* background-color: rgb(249, 136, 136); */
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif !important;
}
hr{
    width: 95%;
}
section{
    margin-bottom: 3%;
}
.sBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sBox .s1_d:nth-of-type(1) .s1_dimg{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/881602814.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.sBox .s1_d:nth-of-type(2) .s1_dimg{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/559823773.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.sBox .s1_d:nth-of-type(3) .s1_dimg{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/632542594.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.sBox .s1_d:nth-of-type(4) .s1_dimg{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/423026084.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.sBox .s1_d:nth-of-type(5) .s1_dimg{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/919554037.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.sBox .s1_d:nth-of-type(6) .s1_dimg{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/435815736.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.s1_d{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.s1_dimg{
    height: 150px;
}

.s1_dtxt{
    margin-top: 10px;
    text-align: center;
}
.s2d{
    display: flex;
    justify-content: center;
}
.s2d div{
    margin: 15px 20px;
}
.sdt{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sdt_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sbg{
    width: 40%;
    height: 300px;
}
.sbg_1{
    background: url("https://raw.githubusercontent.com/funny57591/dramapccu/main/image/%E4%B8%8A%E6%88%B2.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-origin: content-box;
}
.sbg_2{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/Okuma_Auditorium(1).jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-origin: content-box;
}
.sbg_3{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/983352293.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-origin: content-box;
}
@media screen and (max-width: 576px) {
    
}

@media screen and (min-width: 576px) and (max-width:767px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width:960px) {
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 961px) {

    
}