@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
a{
    text-decoration: none;
}

#body_div{
    /* background-color: rgb(249, 136, 136); */
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif !important;
}
hr{
    width: 95%;
    opacity: 0.8;
    margin: 30px 0;
}
/* article{

} */
ol li{
    margin: 10px 5px;
}
.s1d_group{
    display: flex;
    justify-content: center;
}
.figure1{
    margin-left: 20px;
    margin-right: 20px;
}
.s1d_group .figure1 img{
    display: block;
    width: 100%;
}
.s1d_group .figure1 .figcaption1{
    margin-top: 10px;
    margin-bottom: 15px;
}
.s1d_group .figure1 a{
    transition: all 0.3s;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px 5px;
    padding: 10px 25px;
}
.s1d_group .figure1 a:hover{
    color: azure;
    background-color: #FFC408;
}
section{
    margin-bottom: 3%;
}

.s2d{
    display: flex;
    justify-content: center;
}
.s2d div{
    margin: 15px 20px;
}
.sdt{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sdt_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sbg{
    width: 40%;
    height: 300px;
}
.sbg_1{
    background: url("https://raw.githubusercontent.com/funny57591/dramapccu/main/image/%E4%B8%8A%E6%88%B2.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-origin: content-box;
}
.sbg_2{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/Okuma_Auditorium(1).jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-origin: content-box;
}
.sbg_3{
    background: url("https://dta.pccu.edu.tw/var/file/229/1229/img/983352293.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-origin: content-box;
}


@media screen and (max-width: 576px) {
    .s1d_group{
        flex-direction: column;
        align-items: center;
    }
    .s1d_group .figure1{
        width: 70%;
        margin-top: 35px;
    }
    .s1d_group .figure1 .figcaption1{
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .s1d_group .figure1 a{
        width: 85%;
        text-align: center;
    }
    .s2 .s2d:nth-of-type(2){
        flex-direction: column-reverse;
    }
    .s2d{
        flex-direction: column;
        align-items: center;
    }
    .sbg{
        width: 80%;
    }
}

@media screen and (min-width: 576px) and (max-width:767px) {
    .s1d_group{
        flex-direction: column;
        align-items: center;
    }
    .s1d_group .figure1{
        width: 60%;
        margin-top: 35px;
    }
    .s1d_group .figure1 .figcaption1{
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .s2 .s2d:nth-of-type(2){
        flex-direction: column-reverse;
    }
    .s2d{
        flex-direction: column;
        align-items: center;
    }
    .sbg{
        width: 80%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width:960px) {
    .s1d_group .figure1 img{
        transform: scale(1.1);
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .s1d_group .figure1 a{
        transform: scale(0.9);
    }    
    .sdt{
        width: 50%;
    }
    .sbg{
        width: 50%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 961px) {

    
}