@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
a{
    text-decoration: none;
}
.container{
    margin: 0;
    padding: 0;
}

.fade {
    transition: all 0.5s;  /* 這個數值可以根據你的需求調整 */
    opacity: 0;
    display: none;
}
  
.show{
    transition: all 0.5s;
    opacity: 1;
    display: block;
}

#body_div{
    /* background-color: rgb(249, 136, 136); */
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
}
.map{
    text-align: center;
    /* position: relative; */
}
.map>div{
    /* position: absolute; */
    /* right: 0; */
    /* left: 0; */
}
#map_1{
    width: 70%;
}
#map_2{
    width: 70%;
}
.mainBtn{
    margin-bottom: 30px;
}
.mainBtn ul{
    display: flex;
    flex-direction: row;
}
.btnS{
    width: 33%;
    text-align: center;
    list-style: none;
    background-color: beige;
    margin: 0 20px;
    padding: 20px 0;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.5s;
}
.btnS:hover{
    color: rgb(123, 123, 255);
    box-shadow: 0 0 8px rgba(3,3,3,0.5);
}

/* cell phone devices */
@media screen and (max-width: 576px) {
    #map_1{
        width: 100%;
    }
    #map_2{
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width:767px) {
    #map_1{
        width: 90%;
    }
    #map_2{
        width: 90%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width:1160px) {
    #map_1{
        width: 80%;
    }
    #map_2{
        width: 80%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1170px) {

    
}