main{
    margin: 0 auto;
    padding: 0;
    max-width: 1170px;
    background-color:aqua;
}
.cardGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content{    
    height: 100px;
}
.card:nth-of-type(1){
    background-image: url('https://crmdta.pccu.edu.tw/var/file/230/1230/img/1692/206540103.jpg');
}
.card:nth-of-type(2){
    background-image: url('https://crmdta.pccu.edu.tw/var/file/230/1230/img/1692/206540103.jpg');
}
.card:nth-of-type(3){
    background-image: url('https://crmdta.pccu.edu.tw/var/file/230/1230/img/1692/206540103.jpg');
}
.card{
    background-position:top center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 30%;
    height: 300px;
}