main{
    margin: 0 auto;
    padding: 0;
    width: 1170px;
}

li{
    list-style:square;
}

.box_1{
    display: flex;
    flex-direction: row;
}
.box_12{
    padding: 0 20px;
}
.box_12:nth-of-type(1){
    width: 30%;
}
.box_12:nth-of-type(2){
    width: 70%;
}
.box_12:nth-of-type(1) h1 ,.box_12:nth-of-type(1) h2{
    text-align: center;
}
.box_12:nth-of-type(1) h3 a{
    display: block;
    color: rgb(32, 151, 255);
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    transition: all 0.3s;
}
.box_12:nth-of-type(1) h3 a:hover{
    color: rgb(13, 101, 254);
}
.timg{
    background-image:url("https://crmdta.pccu.edu.tw/var/file/230/1230/img/1692/206540103.jpg");
    background-position:top center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 500px;
}
@media screen and (max-width: 576px)  {
    .box_1{
        flex-direction: column;
    }
    .box_12:nth-of-type(1) h3{
        margin-top: 10px;
    }
    li{
        overflow-wrap: break-word;
    }
    .box_12:nth-of-type(1){
        width: 100%;
    }
    .box_12:nth-of-type(2){
        width: 100%;
    }
}
@media screen and (min-width: 576px) and (max-width:767px) {

}
